<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    {{>navbar}}

    {{!-- profile section start --}}
    <div class="container-fluid  hero-background" id="regesterid">
        <div class="row mt-5">
            {{!-- <div class="col-md-10 col-12 mx-auto"> --}}
                <div class="container py-2">
                    <div class="row my-2">
                        <!-- edit form column -->
                        <div class="col-lg-4">
                            <h2 class="text-center font-weight-light">User Profile</h2>
                        </div>
                        <div class="col-lg-8">
                            <p>
                                <a href="/editprofile/{{userData._id}}" class="a-text-color"><i
                                        class="fa fa-edit float-right">Edit/Update profile
                                    </i></a>
                            </p>
                        </div>
                        <div class="col-lg-4 order-lg-0 text-center">
                            {{!-- /img/user.png --}}
                            <img src="/uploads/{{profileimg}}" class="mx-auto img-fluid rounded-circle" alt="user_icon"
                                width="50%" />
                            {{#unless viewOnly}}
                            <h6 class="my-4">Upload a new photo</h6>
                            <form action="/uploadprofileimg/{{userData._id}}" method="POST"
                                enctype="multipart/form-data">
                                <div class="input-group px-xl-4">
                                    <div class="custom-file">
                                        {{!-- <input type="file" id="image" name="profileimg" value=""> --}}
                                        <input type="file" id="image" class="custom-file-input" name="image" value=""
                                            required>
                                        <label class="custom-file-label" for="inputGroupFile02" style="margin: 0rem;"
                                            aria-describedby="inputGroupFileAddon02"><i class="fa fa-cloud-upload"
                                                aria-hidden="true"></i>Choose file</label>
                                    </div>

                                </div>
                                <div class="pt-3 float-left ml-3">
                                    <button type="submit" class="btn-style btn-primary">Upload</button>
                                </div>
                            </form>
                            {{/unless}}
                        </div>
                        {{#if userData}}
                        <div class="col-lg-8 order-lg-1 personal-info">

                            <form role="form" action="/updateprofile/{{userData._id}}" method="POST">
                                <div class="form-group row">
                                    <label
                                        class="col-lg-3 col-form-label form-control-label profile_label_m-t profile_font_label">
                                        Name</label>
                                    <div class="col-lg-9 profile_label_m-b profile_label_m-b">
                                        <input class="form-control" type="text" value="{{userData.name}}" name="name"
                                            {{#if viewOnly}}disabled{{/if}} />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label
                                        class="col-lg-3 col-form-label form-control-label profile_label_m-t profile_font_label">Email</label>
                                    <div class="col-lg-9 profile_label_m-b">
                                        <input class="form-control" type="email" value="{{userData.email}}" name="email"
                                            {{#if viewOnly}}disabled{{/if}} />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label
                                        class="col-lg-3 col-form-label form-control-label profile_label_m-t profile_font_label">Phone</label>
                                    <div class="col-lg-9 profile_label_m-b">
                                        <input class="form-control" type="text" value="{{userData.phone}}" name="phone"
                                            {{#if viewOnly}}disabled{{/if}} />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label
                                        class="col-lg-3 col-form-label form-control-label profile_label_m-t profile_font_label">Company</label>
                                    <div class="col-lg-9 profile_label_m-b">
                                        <input class="form-control" type="text" value="{{userData.company}}"
                                            name="company" {{#if viewOnly}}disabled{{/if}} />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label
                                        class="col-lg-3 col-form-label form-control-label profile_label_m-t profile_font_label">Website</label>
                                    <div class="col-lg-9 profile_label_m-b">
                                        <input class="form-control" type="url" value="{{userData.website}}"
                                            name="website" {{#if viewOnly}}disabled{{/if}} />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label
                                        class="col-lg-3 col-form-label form-control-label profile_label_m-t profile_font_label">Address</label>
                                    <div class="col-lg-9 profile_label_m-b">
                                        <input class="form-control" type="text" value="{{userData.address.address}}"
                                            placeholder="Street" name="address" {{#if viewOnly}}disabled{{/if}} />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label
                                        class="col-lg-3 col-form-label form-control-label profile_label_m-t profile_font_label"></label>
                                    <div class="col-lg-6 profile_label_m-b">
                                        <input class="form-control" type="text" value="{{userData.address.city}}"
                                            placeholder="City" name="city" {{#if viewOnly}}disabled{{/if}} />
                                    </div>
                                    <div class="col-lg-3 profile_label_m-b">
                                        <input class="form-control" type="text" value="{{userData.address.state}}"
                                            placeholder="State" name="state" {{#if viewOnly}}disabled{{/if}} />
                                    </div>
                                </div>
                                {{#unless viewOnly}}
                                <div class="form-group row">
                                    <div class="col-lg-9 profile_label_m-b ml-auto text-right">
                                        <a href="/profile/{{userData._id}}"
                                            class="btn btn-outline-secondary profile_label_m-t profile_font_label">
                                            Cancel</a>
                                        {{!-- <input type="button" class="btn btn-primary" value="Save Changes" /> --}}
                                        <button type="submit" class="btn-style btn-primary">Save Changes</button>
                                    </div>
                                </div>
                                {{/unless}}
                            </form>
                        </div>
                        {{/if}}



                    </div>
                </div>
                {{!--
            </div> --}}
        </div>
    </div>
    {{!-- profile end --}}
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>

</body>

</html>